/* YOUR STYLING HERE */
.header {
  color: $blue;
  text-align: center;
  font-weight: 500;
}

.icon {
  font-size: 20px;
  padding: 10px;
}

.question {
  padding-left: 30px;
  font-size: 24px;
  color: $grey;
  font-weight: bold;
}

.green {
  color: $green;
}

.tile {
  padding-left: 5%;
}
